
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* ==========================================================================
   Media Queries for Responsive Design
   ========================================================================== */
@media (max-width: 399px) {
  .text .main-text {
    position: absolute;
    top: 15%;
    left : 17px;
    right: 0;
    color: #FFF;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 69px;
    letter-spacing: 23px;
    margin-top: -60px;
    padding-left: 10px;
    background: -webkit-linear-gradient(white, #38495a);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text .sceond-text {
    top: 42%;
  }

  .text .line-1 {
    top: 50.5%;
  }

  .contact div {
    top: 64%;
    right: -7px;
  }

  .contact .line-2 {
    position: absolute;
    top: 61%;
    width: 20%;
    right: 40.5%;
    border-radius: 100%;
  }

}
  

 /* ========== very-small Devices (mobiles, 767px and under) ========== */

@media (min-width: 400px) and (max-width: 767px) {
.html , body {
  height: 100%;
  overflow: hidden;
}

  .main-text {
    top: 27%;
  }
  
  .sceond-text {
    top: 47%;
    letter-spacing: 1px;
  }

  .text .line-1 {
    width: 31%;
    right: 36.5%;
  }

  .contact div {
    top: 61%;
  }

  .contact .line-2 {
    width: 17%;
    right: 43%;
  }
  

}



/* ========== Small Devices (Tablets, 768px and up) ========== */
@media (min-width: 768px) and (max-width: 1023px) {

  .main-text {
    top: 35%;
    font-size: 67px;
    letter-spacing: 20px;
    white-space: nowrap;
  }
  
  .sceond-text {
    top: 47%;
    letter-spacing: 1px;
  }

.contact div {
  top: 60%;
}

.contact .line-2 {
    width: 15%;
    right: 44%;
}
 
}



@media (min-width: 1024px) and (max-width: 1439px) {

  .main-text {
    top: 35%;
    font-size: 80px;
    letter-spacing: 20px;
    white-space: nowrap;
  }
  
  .sceond-text {
    top: 47%;
    letter-spacing: 1px;
    font-size: 38px;
  }

  .contact div {
    top: 60%;
  }

  .contact .line-2 {
    width: 15%;
    right: 44%;
  }

 
  }


